* {
  margin: 0;
  padding: 0;
  background-color: #dbe8d8;
  box-sizing: border-box;
}
body {
  font-family: "Electrolize", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
}

#board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 10px;
}

.cell {
  font-size: 6rem;
  color: #0a7029;
  border: 1px solid;
  width: 100px;
  height: 100px;
  cursor: pointer;
  text-align: center;
}

#game-over-box {
  position: absolute;
  background-color: #fede00;
  padding: 60px;
}
#game-over-text {
  background-color: #fede00;
}
button {
  margin-top: 0.5rem;
  font-size: 1rem;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0a7029;
  color: white;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}

.X-hover:hover::after {
  content: "X";
  opacity: 0.3;
}
.O-hover:hover::after {
  content: "O";
  opacity: 0.3;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.fa-brands {
  font-size: 1.5rem;
  transition: ease-in-out 0.2s;
}

.fa-brands:hover {
  transform: scale(1.2);
  color: #0a7029;
}
.footer {
  font-size: 0.8rem;
}
