* {
  margin: 0;
  padding: 0;
  background-color: bisque;
  box-sizing: border-box;
}
body {
  font-family: "Electrolize", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100vh;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  /* width: 400px; */
  justify-content: center;
  gap: 10px;
}

.cell {
  border: 1px solid;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

#game-over-area {
  border: 2px solid;
  padding: 30px;
  height: 100px;
  width: 300px;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}

.X-hover:hover::after {
  content: "X";
  opacity: 0.5;
}
.O-hover:hover::after {
  content: "O";
  opacity: 0.5;
}

.strike-row-1 {
  background-color: greenyellow;
}

.green {
  color: green;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.fa-brands {
  font-size: 1.5rem;
}
